h1{
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
    font-weight: bold;
}
h2, .study{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    font-style: italic;
}
p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: green;
}
img{
   display: block;
   margin-left: auto;
   margin-right: auto;
}